:root {
    --tassel: #DA9C5E;
    --cavern_clay: #C68873;
    --canyon_clay: #A0746B;
    --faded_flaxflower: #c2d2db;
    --sleepy_blue: #d2dee1;
    --naval: #4a5867;
    --endless_sea: #4b7185;
    --alabaster: #f6f6f0;
    --canvas: #f1e9df;
    --touch_of_sand: #ece5d8;
    --repose_grey: #f0eeec;
    --sandbank: #e5d7cb;
    --ghost_whisperer: #e1e7e7;
    --softened_green: #d2d3c2;
    --farm_fresh: #b3bcb0;
    --ripe_olive: #5e6257;
  
    --background: var(--sleepy_blue);
    --card_background: var(--repose_grey);
    --accent1: var(--endless_sea);
    --accent2: var(--farm_fresh);
    --text1: var(--alabaster);
    --text2: var(--ripe_olive);
    --text3: var(--naval);
  }
  
  /* Base styles */
  body {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text2);
    transition: margin-left .4s;
  }
  
  /* Header */
  header {
    background-color: var(--text1);
    color: var(--accent1);
    padding: 2rem;
    text-align: center;
  }
  
  /* Navigation */
  nav {
    background-color: var(--accent1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  
  nav a {
    color: var(--text1);
    padding: 1rem 0;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.7;
    transition: transform 0.3s ease, color 0.3s ease, opacity 0.4s ease;
  }
  
  nav a:hover {
    color: var(--alabaster);
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
  }
  
  .tab-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  /* Buttons */
  .hn-btn,
  .hn-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
  }
  
  .hn-btn:hover,
  .hn-button:hover {
    background-color: var(--repose_grey);
    color: var(--accent1);
  }
  
  .hn-disabled,
  .hn-btn:disabled,
  .hn-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  
  /* Photos */
  .photo-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  .photo-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--text3);
    border-radius: 8px;
  }
  
  /* Main layout */
  main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .card {
    background-color: var(--card_background);
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  }
  
  .hidden {
    display: none;
  }
  
  h2 {
    color: var(--text3);
    text-align: center;
  }
  
  h3 {
    font-size: medium;
    color: var(--text3);
    text-align: right;
  }
  
  ul {
    padding-left: 1.2rem;
  }
  
  /* Fee Box */
  .fee {
    color: var(--naval);
    background-color: var(--faded_flaxflower);
    padding: 1.5rem;
    border-left: 5px solid var(--text3);
    border-right: 5px solid var(--text3);
    border-radius: 4px;
    /* opacity: 50%; */
  }
  
  /* Footer */
  footer {
    background-color: var(--accent2);
    color: var(--text1);
    text-align: center;
    padding: 2rem;
    width: 100%;
  }
  
  /* Responsive Layout for Larger Screens */
  @media (min-width: 768px) {
    nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
    }
  
    .tab-container {
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 0;
    }
  
    nav a {
      padding: 0.5rem 1rem;
    }
  }
  